node_modules
.turbo
dist
.next
.cache
coverage
*.log
.env
.env.local
.env.*.local
*.tsbuildinfo
.DS_Store
Thumbs.db
.vercel
.idea
.vscode/*
!.vscode/extensions.json
apps/web/public/generated
tmp
*.zip
prisma/*.db
packages/database/prisma/*.db
